body {
    /*selectors*/
    background-color: #444444;
}

.outer {
    width: 100%;
    height: 100%;
}

.inner {
    width: 500px;
    height: auto;
    margin: auto;
    border: 5px solid #787878;
    padding: 30px;
}

.main_title {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0;
}

.sans {
    font-family: sans-serif;
    color: white;
}

.menu-link {
    font-weight: bold;
    color: #33b688;
    font-family: Arial, sans-serif;
}
.menu-active{
    color: white;
    text-decoration: none;
    pointer-events: none;
}
.top-nav{
    text-align: center;
}

.menu-seperator {
    display: inline-block;
    line-height: 14px;
    border-right: 2px solid #787878;
    padding-right: 10px;
    margin-right: 10px;
}

.article_1{
    margin-top: 25px;
    margin-bottom: 25px;
}

p {
    color: white;
    line-height: 1.4em;
    margin-top: 0px;
}

footer {
    padding-top: 15px;
}

.bottom-nav{
    text-align: center;
}

.menu-bottom{
    color:#33b688;
}

img {
    border: 2px solid #787878;
    padding: 3.5px;
    margin: 0px 0px 30px 25px;
    height: 227px;
}

section {
    border-top: 1px solid #787878;
    border-bottom: 1px solid #787878;
}

span {
    color: #787878;
}

.span2 {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
}

ul {
    color: #8E8E8E;
}

li{
    list-style: square;
    color: white;
}

.listitem {
    color: #8E8E8E;
    line-height: 1em;
    margin-top: 0em
    font-size: 12px;
}

.date{
    color: #8E8E8E;
    font-size: 14px;
    font-family: sans-serif;
}